:root {
    --color-background: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

body{
    background: var(--color-background);
    font-family: Roboto;
}

#root{
    width: 100vw;
    height: 100vh;
}

body,
input,
textarea,
button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 90vw;
    max-width: 1000px;
}

.fd{
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
}

.center-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Register and Login style */

.enter{
    height: 100vh;
}

.enter-form{
    text-align: center;
}

.enter-form form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.enter-form form div{
    margin-bottom: 15px;
    width: 300px;
}

.enter-form form div:last-of-type{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enter-form form div a{
    text-decoration: none;
}

.enter-form form button{
    width: 100px;

}